!!!
%html
  %head
    %title GitHub Activity Tunes
    %meta{ :name => "viewport", :content => "width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => url("/stylesheets/bootstrap-custom.css") }
    %link{ :rel => "stylesheet", :type => "text/css", :href => url("/stylesheets/bootstrap-responsive.css") }
    = yield_content :head
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{ :href => url('/') } GitHub Activity Tunes
    %div.container
      = yield
