- content_for :head do
  %script{ :src => url('/javascripts/timbre.min.js') }
  %script{ :src => url('/javascripts/tunes.js') }

%img{ :src => url('/images/octocat-conductor.png'), :style => "max-width: 320px;" }
