- content_for :head do
  %script{ :src => url('/javascripts/timbre.min.js') }
  %script{ :src => url('/javascripts/tunes.js') }
  - if @total_activities
    :javascript
      ActivityTunes.ready(function() { ActivityTunes.play(#{JSON.generate(@total_activities)}) });
.hero-unit{ :style => "padding-top: 5px; padding-bottom: 5px; margin-bottom: 0;" }
  %h2
    Artist #{@user}
%img{ :src => url('/images/octocat-conductor.png'), :style => "max-width: 320px;" }
