.well
  Input GitHub ID.
%form{ :action => url("/tune"), :method => "POST" }
  .input-append
    %input.span2{ :type => "text", :name => "user" }
    %button.btn.btn-primary{ :type => "submit"} Play!
